/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Microsoft JhengHei"; */
}

body{
    background-color: #29282e;
    /* font-family: "cwTeXFangSong", serif; */
}

.wrap{
    width: 1140px;
    margin: 0 auto;
}

.title-page{
    padding-top: 20px;
    width: 500px;
}

.top{
    position: relative;
}

.top h1{
  background: linear-gradient(red, yellow, green, blue);
  background: linear-gradient(rgba(159,127,65,1), rgba(252,240,197,1), rgba(107,85,54,1));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 9em;
  position: absolute;
  top: 20%;
  left: 40%;
  letter-spacing:35px;
}

.top h1:after{
    content: '';
    float: left; 
    position: absolute;
    left: 71.5%;
    bottom: -11vw;
    width: 5px;
    height: 240px;
    background-color: #958260;
    z-index:100;
}

.list{
    list-style-type: none;
    position: absolute;
    left: 85%;
    top: 85%;
    color: #fff;
    font-size: 1.2em;
}

.fab{
    padding-right: 10px;
}

.main{
    background: #fff;
    padding: 5%;
    margin: 30px 0;
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.title{
  color: #6b5536;
  font-size: 2em;
  padding:20px 0;
}

.txt{
  color:#555;
  border-bottom: 1px dashed #29282E;
  padding-bottom:25px;
  line-height:40px;
}

.float_img img {
  width: auto;
  max-height: 250px;
  margin: 15px;
  float: right;
}

.actor-title{
  text-align: center;
  padding:15px 0;
}

table{
  background: #777;
  padding: 20px 20px;
  margin: 0 auto;
  color:#fff;
  line-height:30px;
  text-align: left;

}
tr{
  padding: 20px;
}

th{
  padding-right: 20px;
  color:#F2E5BB;
}
.note{
  padding-top:20px;
  text-align: center;
  color:#777;
}
.footer{
  padding:10px;
  background: #6b5536;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}